<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>Suppression de données</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<script>
			function startDeletion() {
				const select = document.getElementById("collab_id");
				const collabId = select.value;
				const collabName = select.options[select.selectedIndex].text;

				const reponse = window.confirm("Êtes-vous sûr de vouloir supprimer toutes les données associées à "+collabName+" (Notion + base de données) ? Cette action est irréversible.");

				if(reponse) {
					const spinner = document.getElementById("spinner");
					const form = document.getElementsByTagName("form")[0];
					spinner.style.display = "flex"; // afficher le spinner
					form.style.display = "none"; // cache le form

					try {
						fetch("/confirm_delete_collab_data", {
							method: "POST",
							headers: {
								"Content-Type": "application/json"
							},
							body: JSON.stringify({collab_id: collabId})
						}).then(async (res) => {
							spinner.style.display = "none"; // cacher spinner quand la requête est terminée
							const result = await res.json();
							window.location.href = result.redirect_url + "?message=" + encodeURIComponent(result.message);
						})
					} catch (err) {
						spinner.style.display = "none";
						console.error("Erreur réseau :", err);
					}
				}
			}
		</script>
	</head>
	<body>
		<div class="container">
		<h1>Suppression de données</h1>
		{% if athletes|length == 0 %}
			<p class="info-message">Aucun athlète ne fait partie du club</p>
		{% else %}
			<div id="spinner" class="spinner-container" style="display:none;">
				<div class="spinner"></div>
				<p>Suppression en cours…</p>
			</div>

			<form>
				<label for="collab_id">Sélectionnez le nom du collaborateur pour lequel les données sont à effacer :</label>
				<select id="collab_id" name="collab_id" required>
					{% for athlete in athletes %}
						<option value="{{ athlete['id'] }}">
							{{ athlete['name'] }}
						</option>
					{% endfor %}
				</select>

				<button type="button" class="btn" onclick="startDeletion()">Supprimer les données</button>
			</form>
		{% endif %}
		</div>
	</body>
</html>
