<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion réussie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    {% if auto_close_popup and auto_close_popup == "True" %}
    <script>
        window.onload = function () {
            window.opener.postMessage({
                type: "JOIN_CHALLENGE",
                collabId: "{{ collab_id }}",
                challengeId: "{{ challenge_id }}"
            }, "*");

            // Optionnel : petit délai pour laisser le message partir
            setTimeout(() => window.close(), 500);
        };
    </script>
    {% endif %}
</head>
<body class="success-page">
    <div class="container">
        <h1>✅ Merci !</h1>
        <p>L'opération a été effectuée avec succès.</p>
        {% if message %}
            <div class="info-box">{{ message }}</div>
        {% endif %}
        <p>Vous pouvez fermer cette page</p>
    </div>
</body>
</html>
